<div x-show="loading" class="skeleton-loader product__gallery">
  <div class="skeleton product__gallery-thumbs">
      {% for i in (1..6) %}
        <div class="skeleton skeleton-thumbnail"></div>
      {% endfor %}
  </div>
  <div class="skeleton product__gallery-main"></div>
</div>
<div class="product__gallery" x-show="!loading" x-cloak>
   {% if product.images %}
       <div class="product__gallery-thumbs swiper-container">
          <div class="swiper-container swiper-vertical" x-ref="mainSwiperPagination">
            <div class="swiper-wrapper">
              {% assign slideIndex = 0 %}
              {% for image in product.images %}
                <div class="swiper-slide"
                      :class="activeSlideNum === {{ slideIndex }} ? 'm-active' : ''"
                      data-index="{{ slideIndex }}"
                      @click="slideToSlide(event, {{ slideIndex }})">
                    <img src="{{ image | image_url: width: 120 }}"
                         alt="{{ image.alt }}"
                         width="120"
                         height="120"
                         class="w-full h-full object-cover rounded">
                </div>
                {% assign slideIndex = slideIndex | plus: 1 %}
              {% endfor %}
              {% for variant in product.variants %}
                {% if variant.featured_image %}
                  <div class="swiper-slide m-variant"
                        :class="activeSlideNum === {{ slideIndex }} ? 'm-active' : ''"
                        data-index="{{ slideIndex }}"
                        data-variant-id="{{ variant.id }}"
                        @click="slideToSlide(event, {{ slideIndex }})">
                        <span class="m-badge">
                          {% comment %} {{ slideIndex }} {% endcomment %}
                        </span>
                    <img src="{{ variant.featured_image | image_url: width: 120 }}"
                         alt="{{ variant.title }}"
                         width="120"
                         height="120"
                         class="w-full h-full object-cover rounded">
                  </div>
                  {% assign slideIndex = slideIndex | plus: 1 %}
                {% endif %}
              {% endfor %}
            </div>
           </div>
       </div>

       <div class="product__gallery-main">
          <div class="product__gallery-main__inner">
            <div class="swiper-container" x-ref="mainSwiper">
              <div class="swiper-wrapper">
                {% assign slideIndex = 0 %}
                {% for image in product.images %}
                  <div class="swiper-slide" data-index="{{ slideIndex }}">
                      {{ image | image_url: width: 800 | image_tag: width: 619, height: 619, class: "w-full h-full object-contain" }}
                  </div>
                  {% assign slideIndex = slideIndex | plus: 1 %}
                {% endfor %}
                {% for variant in product.variants %}
                  {% if variant.featured_image %}
                    <div class="swiper-slide  m-variant"
                          data-index="{{ slideIndex }}"
                          data-variant-id="{{ variant.id }}">
                          <span class="m-badge" data-index="{{ slideIndex }}" >SELECTED VARIANT IMAGE</span>
                      {{ variant.featured_image | image_url: width: 581 | image_tag: width: 581, height: 619, class: "w-full h-full object-contain" }}
                    </div>
                    {% assign slideIndex = slideIndex | plus: 1 %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
       </div>
   {% else %}
       <div class="product__gallery-main product__gallery-main--full flex-1">
           {{ product.featured_image | image_url: width: 581 | image_tag: width: 581, height: 619, class: "w-full h-full object-contain" }}
       </div>
   {% endif %}
</div>


