<div class="product__gallery flex flex-row-reverse">
    {% if product.images %}
        <div class="product__gallery-main">
            <div class="swiper-wrapper">
                {% for image in product.images %}
                <div class="swiper-slide">
                    {{ image | image_url: width: 960 | image_tag: width: 960, height: 960 }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="product__gallery-thumbs flex flex-col md:flex-row gap-4">
        {% for image in product.images %}
            <div class="product__gallery-thumb " data-index="{{ forloop.index0 }}">
                <img src="{{ image | image_url: width: 480 }}" alt="{{ image.alt }}" width="480" height="480">
            </div>
        {% endfor %}
    </div>

    {% else %}
        <div class="product__gallery-main product__gallery-main--full">
            {{ product.featured_image | image_url: width: 960 | image_tag: width: 960, height: 960 }}
        </div>
    {% endif %}
</div>