{% render 'entry' with '@/scripts/sections/c-hero-video.js' %}

<div class="custom-hero-video relative w-full overflow-hidden" data-hero-video>
  <div class="custom-hero-video__container relative w-full h-screen">
    {% if section.settings.image != blank %}
      <img 
        src="{{ section.settings.image | image_url }}"
        alt="{{ section.settings.heading }}"
        class="absolute inset-0 w-full h-full object-cover"
      >
    {% endif %}
    
    <div class="custom-hero-video__content absolute inset-0 flex flex-col justify-center items-center px-4 z-10">
      {% if section.settings.heading != blank %}
<<<<<<< HEAD
        <h2 class="font-extralight font-grotesk mb-12 md:mb-28 text-center flex flex-col items-center text-5xl md:text-6xl"
=======
        <h2 class="font-extralight mb-12 md:mb-28 text-center flex flex-col items-center text-5xl md:text-6xl"
>>>>>>> 2ac2c571e7e4f817f65df90c6e518aa044643b87
            style="color: {{ section.settings.heading_color }};  line-height: 1.0;">
          {% assign lines = section.settings.heading | split: '
' %}
          {% for line in lines %}
            <span class="block">{{ line }}</span>
          {% endfor %}
        </h2>
      {% endif %}

      {% if section.settings.description != blank %}
        <p class="text-center mx-auto mb-8 md:mb-12 md:mt-8 text-base"
           style="color: {{ section.settings.description_color }}; font-size: 36px;">
          {{ section.settings.description }}
        </p>
      {% endif %}
      
      {% if section.settings.button_label != blank %}
        <a href="{{ section.settings.button_link | default: '#' }}" 
           class="mx-auto px-10 py-5 md:px-10 md:py-6 rounded-full  md:text-xl md:mt-8 font-light bg-blueelectric text-white hover:opacity-90 transition-colors flex items-center" style="background-color: #0066FF;">
           {% if section.settings.button_icon != blank %}
             <img src="{{ section.settings.button_icon | image_url: width: 24 }}" 
                  alt="Button icon" 
                  class="mr-2 w-10 h-10">
           {% endif %}
           {{ section.settings.button_label }}
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom Hero Image 2",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading",
      "default": "You title"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#FFFFFF"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Add description"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "description color",
      "default": "#FFFFFF"
    },
    {
      "type": "image_picker",
      "id": "button_icon",
      "label": "Ícono del botón",
      "info": "Recommendation 24x24px"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Custom Hero Imag 2"
    }
  ]
}
{% endschema %}
