<section class="
  custom-section
">
  <div class="container container-lg mx-auto">
    <div class="grid gap-12 lg:gap-36 grid-cols-1 md:grid-cols-2 items-center"
      style="background-color: {{ section.settings.bg_color }};"
    >

      <div
      class="
      pb-[85%]
      relative
      b-image_bg">
        <figure class="absolute left-0 top-0 w-full h-full bg-color_3">
          <img src="{{ section.settings.desktop_image | img_url: 'large' }}" width="721" height="656" alt="{{ section.settings.title }}" class="absolute left-0 top-0 h-full w-full">
        </figure>
      </div>

      <div class="p-8 grow lg:pt-8 lg:pt-[15%]">
        <h3 class="mb-12 lg:mb-48 text-4xl tracking-tighter">{{ section.settings.title }}</h3>
        {% if section.settings.content != blank %}
          <div class="text-sm tracking-tighter lg:max-w-[50%] pr-10">
            {{ section.settings.content }}
          </div>
        {% endif %}
        {% if section.settings.show_button %}
          <a href="{{ section.settings.button_link }}" class="btn btn-primary mt-8">
            {{ section.settings.button_text }}
          </a>
        {% endif %}
      </div>

    </div>
  </div>
</section>



<style>
  @media screen and (max-width: 767px) {
    .b-image_bg {
      width: 100%;
      box-sizing: content-box;
      background-size: cover;
    }
  }
</style>

{% schema %}
{
  "name": "CS with Image About",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Section Color"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "label": "Show Button"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Learn More"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
      {
        "name": "Aside Image About",
        "category": "Custom"
      }
    ]
}
{% endschema %}
