<div class="mx-auto px-4 py-8 md:py-16 bg-white">
  <div class="grid md:grid-cols-2 gap-2 md:gap-16 items-center max-w-[120rem] mx-auto">
    <div class="flex flex-col items-center md:items-center justify-start text-start">
      <div class="flex flex-col items-center lg:items-start gap-4">
        <div class="flex gap-1">
          {% for i in (1..5) %}
            <svg class="w-10 h-10" viewBox="0 0 24 24" fill="" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"
                    stroke="#8B5CF6"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    fill="#DADAFF"/>
            </svg>
          {% endfor %}
        </div>
        <span class="text-black font-semibold text-baseLarge">1000+ Verified 5-Star reviews</span>
      </div>
    </div>

    <div
      class="mt-6 lg:mt-0 swiper-container max-w-full"
      id="swiper-container-{{ section.id }}">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide !h-auto">
            <div
              class="w-full justify-center lg:justify-center h-full flex flex-col"
              data-testimonial
              {{ block.shopify_attributes }}>
              <h3 class="text-xl md:text-[2.2rem] md:leading-[1.2] font-grotesk font-normal mb-4 justify-center items-center text-center lg:text-left text-black font-regular">
                {{ block.settings.testimonial_text }}
              </h3>
              <p class="text-xl md:text-[22px] text-black font-fkroman font-light text-center lg:text-left tracking-[-1.1px]">
                - {{ block.settings.author_name -}}
                {%- if block.settings.location != blank %} | {{ block.settings.location }}{% endif %}
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    if (document.querySelector('#swiper-container-{{ section.id }}')) {
      new Swiper('#swiper-container-{{ section.id }}', {
        slidesPerView: 1,
        spaceBetween: 0,
        speed: 1000,
        loop: true,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
          reverseDirection: true,
        },
      });
    }
  });
</script>

<style>
  #swiper-container-{{ section.id }} .swiper-slide {
    opacity: 0;
    transition: opacity 0.3s;
  }

  #swiper-container-{{ section.id }} .swiper-slide-active {
    opacity: 1;
  }
</style>

{% schema %}
{
  "name": "Testimonials Section",
  "max_blocks": 10,
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "text",
          "id": "testimonial_text",
          "label": "Testimonial Text",
          "default": "The Skin❤️Shield diapers made parenting so much easier!"
        },
        {
          "type": "text",
          "id": "author_name",
          "label": "Author Name",
          "default": "Sofie Flores"
        },
        {
          "type": "text",
          "id": "location",
          "label": "Location",
          "default": "Los Angeles"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials Section",
      "blocks": [
        {
          "type": "testimonial"
        }
      ]
    }
  ]
}
{% endschema %}
