<div class="py-16 lg:py-24" id="{{ section.id }}">
  <div class="flex flex-col md:flex-row justify-center items-center gap-8 md:gap-0">
    <!-- Left Column (50%) -->
    <div class="md:w-[50%] md:pr-8 space-y-8 flex flex-col items-center sticky top-0">
      <div class="flex flex-col items-center lg:items-start">
        {% if section.settings.logo_1 != blank %}
          <img
            src="{{ section.settings.logo_1 | img_url: "master" }}"
            alt="{{ section.settings.logo_1.alt | escape }}"
            class="w-auto h-auto mb-6 max-w-[24rem] md:max-w-[36rem] md:-translate-x-[2rem]"
            loading="lazy"
            width="{{ section.settings.logo_1.width }}"
            height="{{ section.settings.logo_1.height }}">
        {% endif %}
        {% if section.settings.logo_2 != blank %}
          <img
            src="{{ section.settings.logo_2 | img_url: 'medium' }}"
            alt="{{ section.settings.logo_2.alt | escape }}"
            class="w-auto max-w-[30rem] md:max-w-full h-auto"
            loading="lazy"
            width="{{ section.settings.logo_2.width }}"
            height="{{ section.settings.logo_2.height }}">
        {% endif %}
        {% if section.settings.main_text != blank %}
          <div class="text-3xl md:text-4xl">
            {{ section.settings.main_text }}
          </div>
        {% endif %}
      </div>
    </div>

    <!-- Right Column (50%) -->
    <div class="md:w-[50%]">
      {% for block in section.blocks %}
        <div class="scroll-block flex items-center justify-center md:justify-start mb-4 md:my-[45px] transition-all duration-100">
          {% if block.settings.logo != blank and block.settings.logo_violet != blank %}
          <div class="logo-container mr-4 w-16 md:w-auto h-[4rem] md:h-[8rem]">
            {{ block.settings.logo_svg }}
          </div>
          {% endif %}

          {% if block.settings.logo_text != blank %}
            <div class="text-content">
              <p
                class="font-grotesk font-regular scroll-text ml-4 text-xl md:text-[6.6rem] leading-[0.8] ">
                {{ block.settings.logo_text }}
              </p>
            </div>
          {% endif %}
        </div>
      {% endfor %}
      <div class="opacity-30 text-black pl-[17%] text-center md:text-left">{{ section.settings.additional_text }}</div>
    </div>
  </div>
</div>

<style>
  #{{ section.id }} .logo-container svg{
    width: 100%;
    height: 100%;
  }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const blocks = document.querySelectorAll('.scroll-block');

        function updateActiveBlock() {
            const viewportHeight = window.innerHeight;
            const triggerPoint = viewportHeight / 2;
            let closestBlock = null;
            let closestDistance = Infinity;

            blocks.forEach((block) => {
                const rect = block.getBoundingClientRect();
                const blockMiddle = rect.top + rect.height / 2;
                const distance = Math.abs(blockMiddle - triggerPoint);

                if (distance < closestDistance) {
                    closestDistance = distance;
                    closestBlock = block;
                }
            });

            blocks.forEach((block) => {
                block.style.opacity = '0.3';
                block.style.color = '#262626';
            });

            if (closestBlock) {
                closestBlock.style.opacity = '1';
                closestBlock.style.color = '#6638B7';
            }
        }

        window.addEventListener('scroll', function () {
            requestAnimationFrame(updateActiveBlock);
        });

        updateActiveBlock();
    });
</script>

{% schema %}
{
  "name": "Logo Feature Blocks",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_1",
      "label": "Logo First"
    },
    {
      "type": "image_picker",
      "id": "logo_2",
      "label": "Logo Second"
    },
    {
      "type": "text",
      "id": "main_text",
      "label": "Text Block"
    },
    {
      "type": "text",
      "id": "additional_text",
      "label": "Text additional",
      "default": "*up to 14x better absorption than leading brands"
    }
  ],
  "blocks": [
    {
      "type": "logo_block",
      "name": "Logo Block",
      "limit": 4,
      "settings": [
        {
          "type": "textarea",
          "id": "logo_svg",
          "label": "Logo SVG"
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "image_picker",
          "id": "logo_violet",
          "label": "Logo Second"
        },
        {
          "type": "text",
          "id": "logo_text",
          "label": "Text Block"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo Feature Blocks",
      "blocks": [
        {
          "type": "logo_block"
        },
        {
          "type": "logo_block"
        },
        {
          "type": "logo_block"
        },
        {
          "type": "logo_block"
        }
      ]
    }
  ]
}
{% endschema %}
