{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "text",
      "id": "title_1",
      "label": "Title Product 1",
      "default": "Non Toxic, Ultra Soft Diaper"

    },
    {
      "type": "text",
      "id": "description_1",
      "label": "Description Product 1",
      "default": "12+ hours of absorbency thanks to BambooTek®, our squeaky clean and sustainable core."

    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "URL Button 1"
    },

    {
      "type": "text",
      "id": "button_text_1",
      "label": "Text Button 1",
      "default": "SHOP DIAPERS"

    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Img Product 1"
    },

    {
      "type": "text",
      "id": "title_2",
      "label": "Title Product 2",
      "default": "Soft & Thick Jumbo Wipes"

    },
    {
      "type": "text",
      "id": "description_2",
      "label": "Description Product 2",
      "default": "Large and thick, extra soft, and EWG Verified, these super clean wipes make quick work of any mess."

    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "URL Button 2"
    },
    {
      "type": "text",
      "id": "button_text_2",
      "label": "Text Button 2",
      "default": "SHOP WIPES"

    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Img Product 2"
    }
  ],
  "presets": [
    {
      "name": "Featured Products"
    }

  ]
}
{% endschema %}

<div class="w-full py-16">
  <div class="container mx-auto px-4">
    <div class="grid md:grid-cols-2 grid-cols-1 gap-10">
      
      <!-- Product 1 -->
      <div class="bg-core  md:p-10 p-6 rounded-2xl aspect-square h-full">
        <div class="h-full flex flex-col justify-between relative">
          <div>

            <div class="flex flex-col md:flex-row md:items-start md:justify-between mb-4">
              <h2 class="text-baseBig lg:text-4xl text-white font-semibold md:font-light md:max-w-[60%] mb-2 md:mb-0">
                {{ section.settings.title_1 }}
              </h2>

              <a href="{{ section.settings.button_link_1 }}" class="bg-yellow px-4 md:px-8 py-3 md:py-5 rounded-full text-sm 
                md:text-baseLarge text-core font-bold md:font-semibold whitespace-nowrap w-fit transition-all duration-300 hover:text-yellow hover:bg-hover-gradient hover:bg-gradient-size hover:animate-gradient-wave">
                {{ section.settings.button_text_1 }}
              </a>

            </div>
            <p class="text-white text-lg md:text-xl md:max-w-[70%]">
              {{ section.settings.description_1 }}
            </p>
          </div>
          {% if section.settings.image_1 != blank %}
            <div class="mt-8 md:mt-20 text-center h-[60%] md:h-[75%] relative overflow-hidden">
              <img 
                src="{{ section.settings.image_1 | img_url: 'master' }}"
                alt="{{ section.settings.title_1 }}"
                class="w-auto h-full mx-auto object-contain absolute left-1/2 -translate-x-1/2 bottom-0"
                loading="lazy"
              >
            </div>
          {% endif %}
        </div>
      </div>

      <!-- Product 2 -->
      <div class="bg-core  md:p-10 p-6 rounded-2xl aspect-square h-full">
        <div class="h-full flex flex-col justify-between relative">
          <div>
            <div class="flex flex-col md:flex-row md:items-start md:justify-between mb-4">
              <h2 class="text-baseBig lg:text-4xl text-white font-semibold md:font-light md:max-w-[60%] mb-2 md:mb-0">
                {{ section.settings.title_2 }}
              </h2>

              <a href="{{ section.settings.button_link_2 }}" class="bg-yellow px-4 md:px-8 py-3 md:py-5 rounded-full text-sm 
                md:text-baseLarge text-core font-bold md:font-semibold whitespace-nowrap w-fit transition-all duration-300 hover:text-yellow hover:bg-hover-gradient hover:bg-gradient-size hover:animate-gradient-wave">
                {{ section.settings.button_text_2 }}

              </a>
            </div>

            <p class="text-white text-lg md:text-xl md:max-w-[70%]">
              {{ section.settings.description_2 }}
            </p>
          </div>
          {% if section.settings.image_2 != blank %}
            <div class="mt-8 md:mt-20 text-center h-[60%] md:h-[75%] relative overflow-hidden">
              <img 
                src="{{ section.settings.image_2 | img_url: 'master' }}"
                alt="{{ section.settings.title_2 }}"
                class="w-auto h-full mx-auto object-contain absolute left-1/2 -translate-x-1/2 bottom-0"
                loading="lazy"
              >
            </div>
          {% endif %}
        </div>
      </div>

    </div>
  </div>
</div>