<div class="bg-[#F1F2F5] pt-8 lg:pt-0">
  <!-- Newsletter y Menús -->
  <div class="grid grid-cols-12 lg:grid-cols-12">
    <!-- Columna izquierda (30%) - Newsletter -->
    <div class="px-8 md:px-20 border-b-[1px] border-transparent lg:p-6 pb-12 lg:py-24 flex flex-col items-center lg:items-start col-span-12 lg:col-span-5">
      <h2 class="text-xl md:text-4xl font-grotesk text-center lg:text-left font-normal mb-8 md:mb-12">
        {{ section.settings.newsletter_title }}
      </h2>
      <form class="flex flex-row w-full max-w-[42rem] mt-8">
        <input
          type="email"
          class="flex-1 px-12 py-6 rounded-full border border-black bg-transparent"
          placeholder="Enter your email">
        <button
          type="submit"
          class="mt-0 -ml-36 px-6 py-3 rounded-full underline-none">
          Submit
        </button>
      </form>
    </div>

    <!-- Menus -->
    <div class="mb-12 mt-12 lg:-mb-[1px] lg:mt-0 px-4 lg:border-l-[1px] lg:border-black lg:rounded-bl-3xl p-6 lg:pt-24 lg:pb-64 lg:px-28 col-span-12 lg:col-span-7">
      <div class="grid grid-cols-2 px-8 md:px-0 md:grid-cols-5 gap-8 xl:gap-12 lg:flex lg:justify-between">
        <!-- Shop -->
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'footer_nav' %}
              {% assign bamboo_icon = settings['bamboo_icon'] | image_url: width: 100 | image_tag: class: 'w-[1.2rem] inline-block translate-y-[-0.2rem] mx-1' %}
              {% assign heart_icon = settings['heart_icon'] | image_url: width: 100 | image_tag: class: 'w-[1.6rem] inline-block translate-y-[-0.2rem] mx-[0.1rem]' %}
              <div>
                <h3 class="font-grotesk font-medium mb-10 md:mb-20">{{ block.settings.title }}</h3>
                {% if block.settings.menu != blank %}
                  <ul class="space-y-8">
                    {% for link in block.settings.menu.links %}
                      {% assign new_label = '<span class="font-normal text-[0.8rem] tracking-[0.02em] uppercase text-purple-700 -translate-y-[0.4rem] inline-block">New</span>' %}
                      <li>
                        <a
                          href="{{ link.url }}"
                          class="text-gray-600 font-grotesk font-normal hover:text-black text-[1.4rem] tracking-[0.02em]">
                          {{ link.title | replace: '[bamboo]', bamboo_icon | replace: '[heart]', heart_icon | replace: '[new]', new_label }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Tagline -->
  <div class="border-t border-black py-16">
    <div class="container mx-auto md:py-16 text-center">
      <h3 class="lg:text-[48px] text-[24px] font-medium leading-[90%] tracking-[-0.045em] font-grotesk text-purple-700">
        {{
          section.settings.tagline
          | replace: '[',
            '<span class="font-fkroman font-light lg:text-[48px] text-[24px] leading-[1.3] tracking-[-0.045em]">'
          | replace: ']', '</span>'
        }}
      </h3>
    </div>
  </div>

  <!-- Footer bottom -->
  <div class="border-t border-gray-100">
    <div class="container mx-auto py-6 px-4 flex flex-col md:flex-row justify-between items-center text-sm text-gray-600">
      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'footer_bottom_nav' %}
              <p>{{ block.settings.title }}</p>
              <div class="flex gap-6 mt-4 md:mt-0">
                {% for link in block.settings.menu.links %}
                  <a href="{{ link.url }}" class="hover:text-black" target="_blank">{{ link.title }}</a>
                {% endfor %}
              </div>
          {% endcase %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer custom",
  "settings": [
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Newsletter Title",
      "default": "Product launches, community fun, VIP drops, and more"
    },
    {
      "type": "text",
      "id": "tagline",
      "label": "Tagline",
      "default": "Parenting is the [Ultimate Creative Act.]"
    }
  ],
  "blocks": [
    {
      "type": "footer_nav",
      "name": "Footer nav",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "footer_bottom_nav",
      "name": "Footer bottom nav",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer custom"
    }
  ]
}
{% endschema %}
