<div class="py-8 md:py-16 bg-yellow overflow-hidden relative">
  <h2 class="text-xl font-semibold md:font-normal md:text-5xl mb-4 md:mb-8 mx-4 md:ml-30 md:absolute md:top-16 md:left-8 z-10 md:max-w-[50%] text-[#AD887D]">
    {{ section.settings.title -}}
    <br>
    <span class="text-baseLarge font-normal md:text-4xl text-gray-600 block mt-2">{{ section.settings.subtitle }}</span>
  </h2>


  <div class="mt-8 md:mt-48 overflow-hidden w-full">
    <div class="flex gap-72 md:gap-8 animate-scroll hover:animation-play-state-paused md:pt-30">
      {%- for block in section.blocks -%}
        <div class="min-w-[200px] md:min-w-[800px] flex flex-col md:flex-row gap-4 md:gap-8 p-4" {{ block.shopify_attributes }}>
          <div class="w-[300px]  md:w-[300px] h-[400px] md:h-[400px] flex-shrink-0">
            <img
              src="{{ block.settings.review_image | default: 'https://cdn.sanity.io/images/cn55vbgx/production/f25a631dd844f1eda10ae233bc275c4cd96c2a3b-1151x2034.jpg?w=1000&h=1767&q=80&fit=max&auto=format' }}"
              alt="{{ block.settings.author_name }}'s review"
              loading="lazy"
              class="w-full h-full object-cover rounded-lg">
          </div>
          <div class="flex-1 flex flex-col w-[300px]">
            <div class="font-bold text-[#AD887D] text-sm md:text-base">
              {{ block.settings.author_name | default: 'John Doe | @JohnDoe' }}
              {%- if block.settings.author_handle -%}
                <span class="text-gray-400 ml-2">{{ block.settings.author_handle }}</span>
              {%- endif -%}
            </div>
            <div class="text-base md:text-xl leading-relaxed mb-4 text-[#AD887D] max-w-full md:max-w-[300px]">
              {{
                block.settings.review_text
                | default: 'Not only does baby Miro look cool as hell, nothing escapes this well-designed, natural, v absorbent diaper.'
              }}
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

<style>
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - 2rem));
    }
  }

  .animate-scroll {
    animation: scroll 30s linear infinite;
  }

  .animation-play-state-paused {
    animation-play-state: paused;
  }
</style>

{% schema %}
{
  "name": "Review Scroller",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Real reviews from"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "real families"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "text",
          "id": "author_name",
          "label": "Author Name",
          "default": "John Doe | @JohnDoe"
        },
        {
          "type": "text",
          "id": "author_handle",
          "label": "Social Media Handle"
        },
        {
          "type": "textarea",
          "id": "review_text",
          "label": "Review Text",
          "default": "Not only does baby Miro look cool as hell, nothing escapes this well-designed, natural, v absorbent diaper."
        },
        {
          "type": "image_picker",
          "id": "review_image",
          "label": "Review Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Review Scroller",
      "blocks": [
        {
          "type": "review"
        }
      ]
    }
  ]
}
{% endschema %}
